---
layout: default
slug: monitoring
page: laendervergleich
js:
    - frameworks/angular.min
    - frameworks/d3.min
    - frameworks/underscore
    - indicatorUtils
    - database
    - visualizations
    - countries_vis
---
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ site.t.countrycomparison[site.active_lang] }}</h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container big-container">
        <div class="row">
            <div>
                <a class="anchor" name="Laendervergleich"></a>

				<div class="row">
					<div class="col-md-12">
						<p>
							{{ site.t.countrycompintrotext[site.active_lang] }}
						</p>
						{% include snippets/embed.html url=page.url %}
					</div>
				</div>
                {% include visualizations/country_comparison.html %}
            </div>
        </div>
    </div>
</section>
<section class="color-alternative">
</section>