---
layout: default
---
<section id="intro-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>{{ site.t.topmsg[site.active_lang]}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p class="text-center">
                    {{ site.t.intromsg[site.active_lang]}}
                </p>
                <p class="text-center">
                  <a class="btn btn-primary btn-lg"
                  href="/monitoring">
                    {{ site.t.tomonitoringtool[site.active_lang]}} &raquo;
                  </a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="background-alternative" id="intro-detailed">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>{{site.t.understand[site.active_lang]}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="video-youtube">
                <iframe src="https://www.youtube.com/embed/yvgmckInf48?theme=light&showinfo=0" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>
          <div class="col-md-6">
            {{ site.t.longintrotext[site.active_lang]}} 
            <br /><a class="btn btn-default btn-sm pull-right" href="/methodik">{{site.t.methodology[site.active_lang]}} &raquo;</a>
          </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Blog</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% assign featured = site.posts |  where:"featured",true | where: "lang",site.active_lang %}
                {% for post in featured limit: 3 %}
                <div class="entry">
                    {% include blog/post_preview.html post=post %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a class="btn btn-default" href="/blog">{{ site.t.moreblogs[site.active_lang] }}  &raquo;</a>
                </p>
            </div>
        </div>
    </div>
</section>
