---
layout: default
---
<section id="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-centered img-responsive" src="img/2030-watch.png" alt="">
            </div>
        </div>
    </div>
</section>
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Deutschland wird nachhaltig</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="video-youtube">
                    <iframe src="https://www.youtube.com/embed/YxJPjlrbAbU" frameborder="0" allowfullscreen=""></iframe>
                </div>
                <p>
                    Die im September 2015 von allen UN-Mitgliedsstaaten vereinbarten Ziele für nachhaltige Entwicklung
                    sollen bis 2030 unter anderem die Armut abschaffen, bestehende Ungleichheiten in und unter den
                    Ländern beseitigen, und den Klimawandel bekämpfen. Das Projekt 2030-Watch überwacht und visualisiert
                    die Umsetzung dieser ambitionierten Ziele in Deutschland.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="slider">
                    <div class="entries">
                        {% assign featured = site.posts |  where:"featured",true | limit: 3 %}
                        {% for post in featured %}
                        <div class="entry">
                            {% include blog/post_preview.html post=post %}
                        </div>
                        {% endfor %}
                        {% assign first = featured | first %}

                        <div class="entry">
                            {% include blog/post_preview.html post=first %}
                        </div>

                    </div>
                    <div class="dots">
                        <span class="dot dot1"></span>
                        <span class="dot dot2"></span>
                        <span class="dot dot3"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
