---
layout: default
slug: sdg_verstehen
page: indikatoren
js :
    - frameworks/angular.min
    - frameworks/angular-filter.min
    - frameworks/underscore
    - indicatorUtils
    - indicator
    - database
---
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Indikatoren</h2>
            </div>
        </div>
    </div>
</section>
<section ng-app="indicatorApp" class="color-alternative">
    <div class="container" ng-controller="MainCtrl" ng-init="init()">
        <div class="row">
            <div class="col-md-3 left-navigation">
                <h3>Datenauswahl</h3>
                <div class="nav-filter">
                    <div>
                        <a href="" class="indicator-filter" ng-click="datasource = datasource ? false : true">Datenlieferant</a>
                        <span class="caret"></span>
                    </div>
                    {% raw %}
                    <div class="filter-section" ng-show="datasource">
                        <a ng-repeat="publisher in publishers"
                            ng-cloak data-filter-type="data-source" class="btn btn-primary btn-indicator"
                            ng-click="updateFilter('datasource', publisher)"
                            ng-class="{active : isActiveDatasource(publisher)}">{{publisher}}</a>
                    </div>
                    {% endraw %}
                </div>
                <div class="nav-filter">
                    <div><a href="" class="indicator-filter"  ng-click="responsibility = responsibility ? false : true">Verantwortlichkeit</a><span class="caret"></span></div>
                    {% raw %}
                    <div class="filter-section" ng-show="responsibility">
                        <a  ng-repeat="resp in responsibilities | unique " ng-cloak data-filter-type="data-resp" class="btn btn-danger"
                            ng-click="updateFilter('responsibility', resp)"
                            ng-class="{active : isActiveResponsibility(resp)}">{{resp}}</a>
                    </div>
                    {% endraw %}
                </div>
                <div class="nav-filter">
                    {% raw %}
                    <div><a href="" class="indicator-filter" ng-click="sdggroup = sdggroup ? false : true">SDG</a><span class="caret"></span></div>
                    <div class="filter-section" ng-show="sdggroup">
                        <a ng-repeat="sdg in sdgs" ng-cloak data-filter-type="data-resp" class="btn btn-info"
                           ng-click="updateFilter('sdg', sdg)"
                           ng-class="{active : isActiveSDG(sdg)}">{{sdg}}</a>
                    </div>
                    {% endraw %}
                </div>
                <hr />
                {% raw %}
                <div class="indicator-list">
                    <ul>
                        <li ng-repeat="indicator in filteredIndicators track by $index"
                            ng-click="setIndicator(indicator)"
                            ng-class="{active : isActiveIndicator($index)}">
                            <div class="indicator" scroll-on-click>
                                {{indicator.title}}
                            </div>
                        </li>
                    </ul>
                </div>
                {% endraw %}
            </div>
            {% raw %}
            <div class="col-md-8 col-md-offset-1" id="current-indicator">
                <h3 class="text-center" id="current-indicator-title">{{activeIndicator.title}}</h3>
                <p><strong>{{activeIndicator.short_indicator_description.de}}</strong></p>
                <p id="current-indicator-description">{{activeIndicator.long_indicator_description.de.text}}</p>
                <p id="current-indicator-responsibility"></p>
                <div class="target_explanation" ng-if="activeIndicator.target.explanation">
                    <h3>Ziel</h3>
                    <p id="cuurent-indicator-explanation-of-target">{{activeIndicator.target.explanation}}</p>
                </div>

                <div class="calendar" ng-if="activeIndicator.lastScoring">
                    <div class="row">
                        <div class="col-md-3">
                            <p>zuletzt geändert am:</p>
                        </div>
                        <div class="col-md-4 current-indicator-data">
                            <time datetime="2014-09-20" class="icon">
                                <em>
                                    <!--{{activeIndicator.lastScoring.timestamp | date : 'EEEE'}}-->
                                    {{activeIndicator.lastScoring.timestamp | date : 'MMMM'}}
                                </em>
                                <strong>
                                    <!--{{activeIndicator.lastScoring.timestamp | date : 'MMMM'}} <br /> -->
                                    2013
                                </strong>
                                <span>
                                    {{activeIndicator.lastScoring.timestamp | date : 'd'}}
                                </span>
                            </time>
                        </div>
                    </div>
                </div>
                <div class="indicator-data" ng-if="activeIndicator.lastScoring">
                    <h3>Daten</h3>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>Quelle: <a href="{{activeIndicator.lastScoring.source.link}}">{{activeIndicator.lastScoring.source.publisher}}</a></p>
                        </div>
                        <div class="col-xs-6">
                            <p>2030 Watch: <a href="https://raw.githubusercontent.com/okfde/2030-watch-datasets/master/online/">Github</a></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endraw %}
        </div>
    </div>
</section>