    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row row-flex">
                    <div class="col-md-4 col-flex col-flex-centerv">
                        <p>
                            Ein Projekt von
                        </p>
                    </div>
                    <div class="col-md-8 partnerlist">
                        <img src="/static/img/logos/okf_white.png" alt="">
                    </div>
                </div>
                <div class="row row-flex">
                    <div class="col-md-4 col-flex col-flex-centerv">
                        <p>Kooperationspartner</p>
                    </div>
                    <div class="col-md-8 partnerlist">
                        <img src="/static/img/logos/terredeshommes_large.png" alt="">
                    </div>
                </div>
                <div class="row row-flex">
                    <div class="col-md-4 col-flex col-flex-centerv">
                        <p>Finanzpartner</p>
                    </div>
                    <div class="col-md-8 partnerlist">
                        <img src="/static/img/logos/bmz_big.png" alt="">
                        <img src="/static/img/logos/welthungerhilfe_large.png" alt="">
                        <img src="/static/img/logos/terredeshommes_large.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.location }}</h3>
                        <p>
                            {% for adress in site.address %}
                                {{ adress.line }} <br>
		                    {% endfor %}
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.social }}</h3>
                        <ul class="list-inline">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
		                    {% endfor %}
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <p>
                            Spenden
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
