    <!-- Footer -->
    <footer class="text-center">
        <section class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3 class="text-left">{{ site.t.officialaddress[site.active_lang] }}</h3>
                            {% for adress in site.address[site.active_lang] %}
                                <p>
                                    {{ adress.line }}
                                </p>
                            {% endfor %}
                    </div>

                    <div class="footer-col col-md-4">
                      <h3 class="text-left" style="visibility: hidden;"> Vereinsdaten</h3>

                      <p>
                          {% for orga in site.organisation[site.active_lang] %}

                              {{ orga.line }}<br />

                          {% endfor %}
                      </p>
                    </div>

                    <div class="footer-col col-md-4">
                      <h3 class="text-left">{{ site.t.contact[site.active_lang] }}</h3>
                      <p>
                        <u><a href="mailto:2030-watch@okfn.de">2030-watch@okfn.de</a></u><br />
                        T. +49 30 57703666-0 <br />
                        F. +49 30 57703666-9
                      </p>
                      <p style="margin-bottom: 0;">
                        <u>
                          <a href="http://okfn.us5.list-manage1.com/subscribe?u=929f1e07936386d34833e20d1&id=46ec58c60d">
                            {{ site.t.newslettersubscribe[site.active_lang] }}
                          </a>
                        </u>
                        <p style="font-size: 12px; margin-top: 0em;">
                          Wir nutzen für unseren Newsletterversand und -verwaltung Mailchimp.
                          Lese <a target="_blank" href="https://mailchimp.com/legal/privacy/">hier</a>
                          die Datenschutzbestimmung von Mailchimp.
                        </p>
                      </p>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                  2030 Watch nutzt statt den üblichen externen Dienstleistern die
                  datenschutzfreundlichere Technologie von <a target="_blank" href="https://matomo.org">Matomo</a>,
                  um statistische Auswertungen der Seitennutzung zu erhalten.
                  Näheres in <a target="_blank" href="https://okfn.de/impressum/#datenschutzerklaerung">unserer Datenschutzerklärung</a>.
                </div>
            </div>
        </section>
    </footer>
