<a class="anchor" name="Einleitung"></a>

<a name="navbar"></a>
<nav class="navbar navbar-default navbar-fixed-top larger-font">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/"><img src="/img/2030-watch-tiny.png" alt="2030-watch.de" /></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li %if page.slug== %><a href="{{site.baseurl}}/sdg_verstehen/" onclick="$('#collapseOne').collapse('toggle'); $('#collapseTwo').collapse('hide'); $('#collapseThree').collapse('hide');">SDGs verstehen</a></li>
        <li><a href="{{site.baseurl}}/monitoring/" onclick="$('#collapseOne').collapse('hide'); $('#collapseTwo').collapse('toggle'); $('#collapseThree').collapse('hide');">Monitoring</a></li>
        <li><a href="{{site.baseurl}}/blog/" onclick="$('#collapseOne').collapse('hide'); $('#collapseTwo').collapse('hide'); $('#collapseThree').collapse('toggle');">Blog</a></li>
        <li><a href="{{site.baseurl}}/datenportal/" onclick="$('#collapseOne').collapse('hide'); $('#collapseTwo').collapse('hide'); $('#collapseThree').collapse('toggle');">Datenportal</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#Kontakt">Kontakt / Impressum<span class="sr-only">(current)</span></a></li>
      </ul>

    </div>
  </div>
</nav>
