<a class="anchor" name="Einleitung"></a>

<a name="navbar"></a>
<nav class="navbar navbar-default navbar-fixed-top larger-font">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#Einleitung"><img src="/img/2030-watch-tiny.png" alt="2030-watch.de" /></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#über" onclick="$('#collapseOne').collapse('toggle'); $('#collapseTwo').collapse('hide'); $('#collapseThree').collapse('hide');">der 2030-Watch Ansatz</a></li>
        <li><a href="#über" onclick="$('#collapseOne').collapse('hide'); $('#collapseTwo').collapse('toggle'); $('#collapseThree').collapse('hide');">die Nachhaltigkeitsziele</a></li>
        <li><a href="#über" onclick="$('#collapseOne').collapse('hide'); $('#collapseTwo').collapse('hide'); $('#collapseThree').collapse('toggle');">über uns</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">gehe zu... <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#Einleitung">Einleitung</a></li>
            <li><a href="#Hauptgrafik">Hauptgrafik</a></li>
            <li><a href="#Laendervergleich">Ländervergleich</a></li>
            <li><a href="#Einzelindikatoren">Einzelindikatoren</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#Kontakt">Kontakt / Impressum<span class="sr-only">(current)</span></a></li>
      </ul>

    </div>
  </div>
</nav>
