
    <!-- default frameworks -->
    <script src="/static/js/frameworks/jquery.min.js"></script>
    <script src="/static/js/frameworks/bootstrap.min.js"></script>
    <script src="/static/js/frameworks/slick.min.js"></script>
    <script src="/static/js/frameworks/jquery.easing.min.js"></script>
    <script src="/static/js/frameworks/jasny-bootstrap.min.js"></script>

     <!-- Custom Theme JavaScript -->
    <script src="/static/js/index.js"></script>
    {% if page.page == "monitoring" or page.dir == "/monitoring/embed/"  %}
        <script src="/static/js/frameworks/d3.min.js"></script>
        <script src="/static/js/frameworks/highcharts.js"></script>
        <script src="/static/js/frameworks/map.js"></script>
        <script src="/static/js/frameworks/underscore.js"></script>
        <script src="/static/js/database.js"></script>
        <script src="/static/js/visualizations.js"></script>
        <script src="/static/js/misc.js"></script>
    {% endif %}
    {% if page.page == "datapartners" or page.page == "laendervergleich" %}
        <script>
            $(document.body).tooltip({ selector: "[title]" });
        </script>
    {% endif %}
    {% if page.page == "methodik" %}
        <script src="/static/js/frameworks/details-element-polyfill.js"></script> 
    {% endif %}   
    {% if page.page == "einzelindikatoren" or page.page == "einzelindikatoren_map" or page.page == "einzelindikatoren_embed" %}
        <script src="/static/js/frameworks/underscore.js"></script>  
        <script src="/static/js/misc.js"></script> 
        <script>
        var sdgs = {};
		
        {% assign sdgs = site.data.sdgs | sort: 'identifier' %}
        sdgs = {{ sdgs | jsonify }};
        </script>
    {% endif %}

    <script>
		var global_lang = "{{site.active_lang}}";
		var localized_categories;
		if (global_lang === "en") localized_categories = ['very high sustainability', 'high sustainability', 'moderate sustainability',
			'low sustainability', 'very low sustainability', 'no value available'];
		else localized_categories = ['sehr hohe Nachhaltigkeit', 'hohe Nachhaltigkeit', 'mittlere Nachhaltigkeit',
			'geringe Nachhaltigkeit', 'sehr geringe Nachhaltigkeit', 'kein Wert vorhanden'];
		//TODO: To reduce site download size, consider inserting only necessary strings here
		var global_t = {{ site.t | jsonify }};
    </script>

    {% for js in page.js %}
        <script src="/static/js/{{js}}.js"></script>
    {% endfor %}

    <!-- Piwik -->
     <script type="text/javascript">
         var _paq = _paq || [];
         _paq.push(['trackPageView']);
         _paq.push(['enableLinkTracking']);
         (function() {
             var u="//piwik.okfn.de/";
             _paq.push(['setTrackerUrl', u+'piwik.php']);
             _paq.push(['setSiteId', 14]);
             var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
             g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
         })();
     </script>
     <noscript><p><img src="//piwik.okfn.de/piwik.php?idsite=14" style="border:0;" alt="" /></p></noscript>
     <!-- End Piwik Code -->
