<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.easing.min.js"></script>
<script src="/assets/js/index.js"></script>

{% if page.dir == "/monitoring/" %}
<script src="/assets/js/d3.min.js"></script>
<script src="/assets/js/highcharts.js"></script>
<script src="/assets/js/map.js"></script>
<script src="/assets/js/world.js"></script>
<script src="/assets/js/database.js"></script>
<script src="/assets/js/data.js"></script>
<script src="/assets/js/supplementary.js"></script>
<script src="/assets/js/visualizations.js"></script>
<script src="/assets/js/misc.js"></script>
{% endif %}

<!-- Piwik -->
<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function () {
		var u = "//piwik.okfn.de/";
		_paq.push(['setTrackerUrl', u + 'piwik.php']);
		_paq.push(['setSiteId', 14]);
		var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
		g.type = 'text/javascript';
		g.async = true;
		g.defer = true;
		g.src = u + 'piwik.js';
		s.parentNode.insertBefore(g, s);
	})();
</script>
<noscript><p><img src="//piwik.okfn.de/piwik.php?idsite=14" style="border:0;" alt=""/></p></noscript>
<!-- End Piwik Code -->
