     <!-- jQuery -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/static/js/index.js"></script>

    {% if page.dir == "/monitoring/" %}
        <script src="/static/js/d3.min.js"></script>
        <script src="/static/js/highcharts.js"></script>
        <script src="/static/js/map.js"></script>
        <script src="/static/js/world.js"></script>
        <script src="/static/js/database.js"></script>
        <script src="/static/js/data.js"></script>
        <script src="/static/js/supplementary.js"></script>
        <script src="/static/js/visualizations.js"></script>
        <script src="/static/js/misc.js"></script>
    {% endif %}

    {% for js in page.js %}
        <script src="/static/js/{{js}}.js"></script>
    {% endfor %}

    <!-- Piwik -->
     <script type="text/javascript">
         var _paq = _paq || [];
         _paq.push(['trackPageView']);
         _paq.push(['enableLinkTracking']);
         (function() {
             var u="//piwik.okfn.de/";
             _paq.push(['setTrackerUrl', u+'piwik.php']);
             _paq.push(['setSiteId', 14]);
             var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
             g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
         })();
     </script>
     <noscript><p><img src="//piwik.okfn.de/piwik.php?idsite=14" style="border:0;" alt="" /></p></noscript>
     <!-- End Piwik Code -->
