   <!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <nav id="navmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
            <ul class="nav navbar-nav navbar-right sidebar">
                <li class="hidden">
                    <a href="{{site.base_url}}"></a>
                </li>
                <li>
                    <a href="/monitoring" class="{% if page.slug == 'monitoring' %} active {% endif %} text-left">{{ site.t.monitoring[site.active_lang] }}</a>
                    <ul class="submenu">
                        <li><a class="{% if page.page == 'laendervergleich' %} active {% endif %}" href="/monitoring/laendervergleich">{{ site.t.countrycomparison[site.active_lang] }}</a></li>
                        <li><a class="{% if page.page == 'einzelindikatoren' %} active {% endif %}" href="/monitoring/einzelindikatoren">{{ site.t.individualindicators[site.active_lang] }}</a></li>
                    </ul>
                </li>
                <!--
                <li>
                    <a href="/verstehen" class="{% if page.slug == 'sdg_verstehen' %} active {% endif %} text-left">{{ site.t.ttagenda[site.active_lang] }}</a>
                    <ul class="submenu">
                        <li><a class="{% if page.page == 'sdgs' %} active {% endif %}" href="/verstehen/ziele">{{ site.t.goals[site.active_lang] }}</a></li>
                    </ul>
                </li>
                -->
                {% if site.active_lang == 'de' %}
                <li>
                    <a href="/blog" class="{% if page.slug == 'blog' %} active {% endif %} text-left">Blog</a>
                </li>
                {% endif %}
                <li>
                    <a href="/methodik" class="{% if page.slug == 'methodik' %} active {% endif %} text-left">{{ site.t.methodologyshort[site.active_lang] }}</a>
                </li>
                <li>
                    <a href="/about" class="{% if page.slug == 'about' %} active {% endif %} text-left">{{ site.t.aboutus[site.active_lang] }}</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#navmenu" data-canvas=".navmenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="row">
          <a class="navbar-brand" href="/"><img class="nav-img" src="/static/img/2030watch_logo.png" alt=""></a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          {% for tongue in site.languages %}
<a {% if tongue == site.active_lang %}style="text-decoration: underline;"{% endif %} href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}">{{ tongue }}</a>{% if forloop.last == false %} | {% endif %}
  {% endfor %}
          <ul class="nav navbar-nav navbar-right navbar-stretch">
              <li class="hidden">
                  <a href="{{site.base_url}}"></a>
              </li>
              <li>
                  <a href="/monitoring" class="{% if page.slug == 'monitoring' %} active {% endif %} text-center">{{ site.t.monitoring[site.active_lang] }}</a>
              </li>
              <!--
              <li>
                  <a href="/verstehen" class="{% if page.slug == 'sdg_verstehen' %} active {% endif %} text-center">{{ site.t.ttagenda[site.active_lang] }}</a>
              </li>
              -->
              <li>
                  <a href="/blog" class="{% if page.slug == 'blog' %} active {% endif %} text-center">Blog</a>
              </li>
              <li>
                  <a href="/methodik" class="{% if page.slug == 'methodik' %} active {% endif %} text-center">{{ site.t.methodologyshort[site.active_lang] }}</a>
              </li>
              <li>
                  <a href="/about" class="{% if page.slug == 'about' %} active {% endif %} text-center">{{ site.t.aboutus[site.active_lang] }}</a>
              </li>
              <li class="prototyp">
                  <p class="navbar-text">{{ site.t.prototype[site.active_lang] }}!</p>
              </li>
          </ul>
        </div>
        {% if page.slug == 'monitoring' or page.slug == 'sdg_verstehen' %}
        <div class="row row-subnav">
          <ul class="nav navbar-nav navbar-stretch navbar-subnav navbar-right">
              {% if page.slug == 'monitoring' %}
              <li><a class="{% if page.page == None and page.slug == 'monitoring' %} active {% endif %}" href="/monitoring">{{ site.t.germanysimplementationshort[site.active_lang] }}</a></li>
              <li><a class="{% if page.page == 'laendervergleich' %} active {% endif %}" href="/monitoring/laendervergleich">{{ site.t.countrycomparison[site.active_lang] }}</a></li>
              <li><a class="{% if page.page == 'einzelindikatoren' %} active {% endif %}" href="/monitoring/einzelindikatoren">{{ site.t.individualindicators[site.active_lang] }}</a></li>
              {% else if page.slug == 'sdg_verstehen' %}
              <li><a class="{% if page.page == 'sdgs' %} active {% endif %}" href="/verstehen/ziele">{{ site.t.goals[site.active_lang] }}</a></li>
              {% endif %}
          </ul>
        </div>
        {% endif %}
    </div>
</nav>
