   <!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <nav id="navmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
            <ul class="nav navbar-nav navbar-right sidebar">
                <li class="hidden">
                    <a href="{{site.base_url}}"></a>
                </li>
                <li>
                    <a href="/monitoring" class="{% if page.slug == 'monitoring' %} active {% endif %} text-left">Monitoring</a>
                    <ul class="submenu">
                        <li><a class="{% if page.page == 'laendervergleich' %} active {% endif %}" href="/monitoring/laendervergleich">Ländervergleich</a></li>
                        <li><a class="{% if page.page == 'einzelindikatoren' %} active {% endif %}" href="/monitoring/einzelindikatoren">Einzelindikatoren</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/verstehen" class="{% if page.slug == 'sdg_verstehen' %} active {% endif %} text-left">2030 Agenda</a>
                    <ul class="submenu">
                        <li><a class="{% if page.page == 'sdgs' %} active {% endif %}" href="/verstehen/ziele">Ziele</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/blog" class="{% if page.slug == 'blog' %} active {% endif %} text-left">Blog</a>
                </li>
                <li>
                    <a href="/methodik" class="{% if page.slug == 'methodik' %} active {% endif %} text-left">Methodik</a>
                </li>
                <li>
                    <a href="/about" class="{% if page.slug == 'about' %} active {% endif %} text-left">Über uns</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#navmenu" data-canvas=".navmenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="row">
          <a class="navbar-brand" href="/"><img class="nav-img" src="/static/img/2030watch_logo.png" alt=""></a>
          <ul class="nav navbar-nav navbar-right navbar-stretch">
              <li class="hidden">
                  <a href="{{site.base_url}}"></a>
              </li>
              <li>
                  <a href="/monitoring" class="{% if page.slug == 'monitoring' %} active {% endif %} text-center">Monitoring</a>
              </li>
              <li>
                  <a href="/verstehen" class="{% if page.slug == 'sdg_verstehen' %} active {% endif %} text-center">2030 Agenda</a>
              </li>
              <li>
                  <a href="/blog" class="{% if page.slug == 'blog' %} active {% endif %} text-center">Blog</a>
              </li>
              <li>
                  <a href="/methodik" class="{% if page.slug == 'methodik' %} active {% endif %} text-center">Methodik</a>
              </li>
              <li>
                  <a href="/about" class="{% if page.slug == 'about' %} active {% endif %} text-center">Über uns</a>
              </li>
          </ul>
        </div>
        <div class="row row-subnav">
          <ul class="nav navbar-nav navbar-stretch navbar-subnav navbar-right">
            {% if page.slug == 'monitoring' or page.slug == 'sdg_verstehen' %}
              {% if page.slug == 'monitoring' %}
              <li><a class="{% if page.page == None and page.slug == 'monitoring' %} active {% endif %}" href="/monitoring">Deutschlands Umsetzung</a></li>
              <li><a class="{% if page.page == 'laendervergleich' %} active {% endif %}" href="/monitoring/laendervergleich">Ländervergleich</a></li>
              <li><a class="{% if page.page == 'einzelindikatoren' %} active {% endif %}" href="/monitoring/einzelindikatoren">Einzelindikatoren</a></li>
              {% else if page.slug == 'sdg_verstehen' %}
              <li><a class="{% if page.page == 'sdgs' %} active {% endif %}" href="/verstehen/ziele">Ziele</a></li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
    </div>
</nav>
