   <!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <nav id="navmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
            <ul class="nav navbar-nav navbar-right sidebar">
                <li class="hidden">
                    <a href="{{site.url}}{{site.baseurl}}"></a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="row">
          <a class="navbar-brand" href="{{site.url}}{{site.baseurl}}"><img class="nav-img" src="{{site.baseurl}}/static/img/2030watch_logo.png" alt=""></a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <ul class="nav navbar-nav navbar-right navbar-stretch">
          </ul>
        </div>
    </div>
</nav>
