<!-- Modal -->
<div class="modal fade" id="surveypop" tabindex="-1" role="dialog" aria-labelledby="myModal3Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModal3Label">2030Watch baut um - Deine Meinung ist uns wichtig!</h4>
      </div>
      <div class="modal-body">
        <p>Hast Du 5 Minuten Zeit? Wir gestalten unsere Webseite neu und würden uns über Dein Feedback freuen.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default survey-dismiss" data-dismiss="modal">Nein, nicht mehr nachfragen</button>  
        <button type="button" class="btn btn-default survey-review" data-dismiss="modal">Jetzt nicht</button>
        <a href="/umfrage" class="btn btn-primary survey-dismiss">Zur Umfrage »</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->