
body { padding-top: 70px;
       background-image: url('2030poster.png');
       background-attachment: fixed;
       font-family: Verdana, Geneva, sans-serif;
     }

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.white {
    background-color: white;
}

.jumbotron {
    background-color: #f8fbff;
}

.navbar {
    background-color: #e5f2ff;
}

.panel-body {
    background-color: #f8fbff;
}

.panel-heading-custom {
    background-image: none;
    background: #e5f2ff !important;
}

.alpha {
    position: fixed;
    top: 70;
    right: -110;
    background-color: red;
    color: white;
    width: 300px;
    height: 30px;
    transform: rotate(45deg);
    z-index: 1000;
    cursor: pointer;
    transition: background-color 2s, transform 1s, color 1s;
}

.alpha:hover {
    background-color: transparent;
    color: red;
    transform: rotate(0deg);
    transition: background-color 0.3s, transform 1s, color 1s;
}

.alpha > p {
    margin-top: 2px;
    font-family: sans;
    font-size: large;
    text-align: center;
    vertical-align: middle;
}

.sdgIcon {
    padding: 2px;
    filter: opacity(20%);
    -webkit-filter: opacity(20%);
    cursor: pointer;
}

.responsibility {
    cursor: pointer;
    font-weight: bold;
}

.okf-logo img {
    padding:40px;
}

.logo-header {
    font-size: normal;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 10px;
}

.logo img {
    height: 70px;
    margin: 10px;
}

.placeholder {
    width: 10px;
    height: 60px;
    margin: 10px;
}

.logo p {
    font-weight: normal;
    font-size: normal;
}