{% assign post=include.post %}
{% if post.image %}
<div class="col-md-5 col-flex col-flex-centerv">
    <a href="{{ site.baseurl }}/{{ post.url |replace_first:'/',''}}">
        <img class="post-img" src="{{ post.image.src }}" alt="{{ post.title }}">
    </a>
</div>
{% endif %}
<div class="col-md-7">
    <h3 class="post-title">
        <a href="{{ site.baseurl }}/{{ post.url |replace_first:'/',''}}">{{post.title }}</a>
    </h3>
    <p class="post-excerpt">{{ post.excerpt | markdownify | strip_html | truncatewords: 50 }}</p>
    <p class="row post-more">
        <a href="{{ site.baseurl }}/{{ post.url |replace_first:'/',''}}"
        class="btn btn-default btn-sm">
            {{ site.t.more[site.active_lang] }} &raquo;
        </a>
    </p>
</div>


