{% assign post=include.post %}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <h3 class="post-title">
                <a href="{{ site.baseurl }}/{{ post.url |replace_first:'/',''}}">{{post.title | truncatewords: 14 }}</a>
            </h3>
            <h4 class="post-meta">
                {{ post.date | date_to_long_string }}
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p class="post-excerpt">{{ post.excerpt | markdownify | strip_html | truncatewords: 50 }}</p>
            <p class="post-more">
                <a href="{{ site.baseurl }}/{{ post.url |replace_first:'/',''}}"
                class="btn btn-default btn-sm">
                    {{ site.t.more[site.active_lang] }} &raquo;
                </a>
            </p>
        </div>
        {% if post.image %}
        <div class="col-md-4 col-flex col-flex-centerv">
            <a href="{{ site.baseurl }}/{{ post.url |replace_first:'/',''}}">
                <img class="post-img" src="{{ post.image.src }}" alt="{{ post.title }}">
            </a>
        </div>
        {% endif %}
    </div>
</div>



