---
layout: default
slug: about
---
<section id="intro">
    <div class="container">
        <div class="row">
            <img class="okf-logo" src="/static/img/logos/okf_logo.png" alt="">
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <h3>Team</h3>
            <div class="row avatar-block">

                {% for member in site.data.team %}
                <div class="col-md-6">
                    <div class="row avatar-row">
                        <div class="col-xs-4 avatar-col">
                            <img src="{{member.img}}" alt="{{member.name}}" class="img-circle avatar">
                        </div>
                        <div class="col-xs-8 col-xs-offset-0">
                            {{member.name}} &nbsp; <a href="https://twitter.com/{{member.twitter}}" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            <br>
                            <small>{{member.role[site.active_lang] }}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-justify">
                <h4>{{ site.t.femarticle[site.active_lang] }} Open Knowledge Foundation {{ site.t.germany[site.active_lang] }}</h4>
                {{ site.t.aboutus_okf[site.active_lang] }}
                <p>
                {{ site.t.aboutus_okf2[site.active_lang] }}
                </p>
                <h4>2030 Watch</h4>
                <p>
                {{ site.t.aboutus_budget[site.active_lang] }}
                </p>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-justify">
                <h3>{{ site.t.reporting[site.active_lang] }}</h3>
                <p><a href="/static/assets/Jahresbericht_2015.pdf">{{ site.t.aboutus_yearreport[site.active_lang] }} 2015</a></p>
                <p><a href="/static/assets/Jahresfinanzbericht_2015.pdf">{{ site.t.aboutus_yearfinances[site.active_lang] }}  2015</a></p>
            </div>
        </div>
    </div>
</section>

{% include footer.html %}