//"#2c7bb6", "#abd9e9", "#ffffbf", "#fdae61", "#d7191c", "#DDDDDD"

$small-font: 10pt;


.jumbotron {
  background: none;
}

 /**
 * nicht die font size oder size ändern, sondern das hier nutzen
 */

.sdgIcon {
  margin: 1px;
  width: 30px;
  height: 30px;
}
.sdgIcon.hover{
  transform: scale(1.2);
  cursor: pointer;
}
.sdgIcon.clicked{
  transform: scale(1.2);
}

.responsibility.hover{
  cursor: pointer;
  font-size: 120%;
  text-decoration: underline;
}
.responsibility.clicked{
  font-size: 120%;
  text-decoration: underline;
}

.status.hover{
  cursor: pointer;
  font-size: 120%;
  text-decoration: underline;
}
.status.clicked{
  font-size: 120%;
  text-decoration: underline;
}

.indicatorBarChart{
  width: 100%;

  text{
    font-size: 1em;
    font-weight: 100;
  }

  .custom-tooltipp {
    text-anchor: middle;
    font-size: 1.2em;
    display: none;
  }
  .custom-tooltipp.hover {
    display: block;
  }
  .chart-title {
    text-anchor: middle;
    font-size: 1.5em;
    font-weight: 400;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;

    shape-rendering: crispEdges;
  }

  .x.axis .tick {
    display: none;
  }

  .y.axis path {
    display: none;
  }
  .x.axis path {
    stroke: #b6b6b6;
  }

  .y.axis .tick line{
    stroke: #b6b6b6;
    stroke-dasharray: 2,5;
  }

  .bar{
    opacity: 1;
  }
  .bar.hover{
    opacity:0.7;
    cursor: pointer;
  }
}

.normal-left{
  font-weight: normal;
  text-align: left;
}

.mainviz{
  font-family: 'Muli', "Helvetica", "sans-serif";
  //margin-top: 2em;
  margin-bottom: 2em;
  font-weight: lighter;

  h3{
    text-align: left;
  }

  .rect.hover{
    cursor: pointer;
  }
}
