//"#2c7bb6", "#abd9e9", "#ffffbf", "#fdae61", "#d7191c", "#DDDDDD"
@import 'style.scss';

$small-font: 10pt;


.jumbotron {
  background: none;
}

 /**
 * nicht die font size oder size aendern, sondern das hier nutzen
 */
.tab-pane{
  margin-top : 15px;
}

.sdgIcon {
  margin: 1px;
  width: 30px;
  height: 30px;
}
.sdgIcon.hover{
  transform: scale(1.2);
  cursor: pointer;
  border: 2px solid #000000;
}
.sdgIcon.clicked{
  transform: scale(1.2);
  border: 2px solid #000000;
}

.responsibility.hover{
  cursor: pointer;
  font-size: 120%;
  text-decoration: underline;
}
.responsibility.clicked{
  font-size: 120%;
  text-decoration: underline;
}
#partnerbox {
  font-size: 2em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 70%;
  height: 60%;
  margin: auto;
  color: white;
  text-align: center;
}
.indicatorBarChart{
  width: 100%;

  text{
    font-size: 1em;
    font-weight: 100;
  }

  .custom-tooltipp {
    text-anchor: middle;
    font-size: 1.2em;
    display: none;
  }
  .custom-tooltipp.hover {
    display: block;
  }
  .chart-title {
    text-anchor: middle;
    font-size: 1.5em;
    font-weight: 400;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;

    shape-rendering: crispEdges;
  }

  .x.axis .tick {
    display: none;
  }

  .y.axis path {
    display: none;
  }
  .x.axis path {
    stroke: #b6b6b6;
  }

  .y.axis .tick line{
    stroke: #b6b6b6;
    stroke-dasharray: 2,5;
  }

  .bar{
    opacity: 1;
  }
  .bar.hover{
    opacity:0.7;
    cursor: pointer;
  }
}

.normal-left{
  font-weight: normal;
  text-align: left;
}

.mainviz{
  font-family: 'Muli', "Helvetica", "sans-serif";
  //margin-top: 2em;
  margin-bottom: 2em;
  font-weight: lighter;

  h3{
    text-align: left;
  }

  .rect.hover{
    cursor: pointer;
  }
  #monitoring-germany{
    svg{
      background: $alternative-background;
    }
  }
}

compare{
  /* padding:10px; */
}

.highlight-txt{
  font-size: 1em;
  text-decoration: none;
  min-height: 3em;
}

.gray-background{
  background-color: #EEEEEE;
  padding: 4px;
}
