---
layout: default
slug: blog
---
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Blog</h2>
                <a href="/feed.xml">mit dem Feedreader abonnieren</a>
            </div>
       </div>
    </div>
</section>
<section>
    <div class="container">
        {% for post in paginator.posts %}
        {% include blog/post_preview_alternative.html post=post %}
        {% endfor %}

        <ul class="list-unstyled blog-pagination">
            {% if paginator.previous_page %}
            <li>
                {% if paginator.previous_page == 1 %}
                <a href="{{ site.baseurl }}/blog/" class="btn btn-default btn-sm">&laquo; Neuere Einträge</a>
                {% else %}
                <a href="{{ site.baseurl }}/{{ paginator.previous_page_path|replace_first:'/','' }}" class="btn btn-default btn-sm">&laquo; Neuere Einträge</a>
                {% endif %}
            </li>
            {% endif %}

            {% if paginator.next_page %}<li>
                <a href="{{ site.baseurl }}/{{ paginator.next_page_path|replace_first:'/','' }}" class="btn btn-default btn-sm">Ältere Einträge &raquo;</a>
            </li>{% endif %}
        </ul>

        <div class="text-center">
            {% include blog/pagination.html %}
        </div>
    </div>
</section>
