---
layout: default
slug: blog
---
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Blog</h2>
                <a href="/feed.xml">{{ site.t.feedreader[site.active_lang] }}</a>
            </div>
       </div>
    </div>
</section>
<section>
    <div class="container">
        {% assign included = site.posts | where: "lang",site.active_lang %}
        {% for post in included %}
            {% include blog/post_preview_alternative.html post=post %}
        {% endfor %}
    </div>
</section>
