<!DOCTYPE html>
<html>
    {% include head.html %}

    <body id="page-top" class="index">

    {% include nav.html %}

    <section style="height: 80vH;">

      <div style="text-align:center; padding-top: 20vH;">
        <img src="/static/img/comingsoon.png" alt="Coming soon">
          <p style="text-align:center; margin-top: 4.5rem;">
            Wir arbeiten gerade an unseren neuen Inhalten und an der Webseite. Spannend! :-) <br /> Leider müssen wir unseren Relaunch um ein paar Tage verschieben. Schaut ab 6. Juni wieder vorbei.
          </p>
      </div>

    </section>

    </body>

    {% include footer.html %}
</html>
