<!DOCTYPE html>
<html>
    {% include head.html %}

    <body id="page-top" class="index">

    {% include nav.html %}

    <section>
      <div class="container" style="text-align:center; padding-top: 20vH;">
        <img src="/static/img/comingsoon.png" alt="Coming soon" style="max-width:80%;">
        <p style="font-weight:bold;text-align:center;">
          Wie wird Nachhaltigkeit in Deutschland gemessen?
          Und was sagen die Indikatoren über die Erreichung eines nachhaltigeren Deutschlands bis 2030?
        </p>
        <p style="text-align:center; margin-top: 4.5rem;">
          Leider mussten wir unseren Relaunch um ein paar Tage verschieben,
          aber am 6. Juni sind wir wieder live. Wir freuen uns, wenn ihr dann
          noch mal vorbei schaut und bis dahin könnt ihr euch gerne für
          unseren <a href="http://okfn.us5.list-manage1.com/subscribe?u=929f1e07936386d34833e20d1&id=46ec58c60d">Newsletter</a>
          anmelden und uns auf <a href="https://twitter.com/2030watchde" target="_blank">Twitter</a> folgen.
        </p>
      </div>
    </section>

    </body>

    {% include footer.html %}
</html>
