---
layout: default
slug: blog
---
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <img class="blog-img" src="{{page.image.src}}" alt="page.image.alt">
                <p class="image-caption text-center">
                    {{page.image.license}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-left post-content">
                {{ content }}
            </div>
        </div>
        <row>
            <div class="share-post">
                {{ site.t.shareblog[site.active_lang] }}
                <a href="https://twitter.com/intent/tweet?text={{page.title}}%20-%20{{ site.url }}{{ page.url }}&f=f" rel="nofollow" target="_blank" title="{{ site.t.shareblog[site.active_lang] }} Twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://facebook.com/sharer.php?u={{site.url}}{{page.url}}" rel="nofollow" target="_blank" title="{{ site.t.shareblog[site.active_lang] }} Facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="{{ site.t.shareblog[site.active_lang] }} Google+"><i class="fa fa-google-plus"></i></a>
            </div>
        </row>
    </div>
</section>