---
layout: default
slug: blog
---
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <img class="blog-img" src="{{page.image.src}}" alt="page.image.alt">
                <p class="image-caption text-center">
                    {{page.image.license}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center post-content">
                {{ content }}
            </div>
        </div>
    </div>
</section>