---
layout: default
slug: blog
---
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <img class="blog-img" src="{{page.image.src}}" alt="page.image.alt">
                <p class="image-caption text-center">
                    {{page.image.license}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-left post-content">
                {{ content }}
            </div>
        </div>
        <row>
            <div class="share-post">
                Blogpost teilen auf
                <a href="https://twitter.com/intent/tweet?text={{page.title}}" rel="nofollow" target="_blank" title="Blogpost teilen auf Twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://facebook.com/sharer.php?u={{site.url}}{{page.url}}" rel="nofollow" target="_blank" title="Blogpost teilen auf Facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://plus.google.com/share?url=https://okfn.de/blog/2016/04/stellenausschreibung-dS/" rel="nofollow" target="_blank" title="Blogpost teilen auf Google+"><i class="fa fa-google-plus"></i></a>
            </div>
        </row>
    </div>
</section>