<div class="jumbotron">

    <a class="anchor" name="Laendervergleich"></a>

    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center; display:block; padding-bottom:30px;">
                <h2 style="text-align:center">Ländervergleich</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p onmouseover="style.color = 'red'" onmouseout="style.color = ''" style="text-align:right; cursor:pointer;" onclick="sortCountryVisByCountry('Germany');">
                <b><span onmouseover="style.color='red';" onmouseout="style.color = '';">Deutschland</span></b><br>
            </p>
            <div style="height:5em; display:block;">
                <p style="text-align:right;">
                    <span id="visGermanyInfos" style="font-size:small;"></span>
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <div style="padding:5px; background-color: white">
                <svg id="visGermany" style="width:100%; height:80px; margin:auto; display:block;"></svg>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p style="height:6px;">
            <hr style="height:1px; border:none; background-color:grey;">
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p onmouseover="style.color = 'red'" onmouseout="style.color = ''" style="text-align:right; cursor:pointer;" onclick="sortCountryVisByCountry('country1');">
                <b><span id="country1" onmouseover="style.color='red';" onmouseout="style.color = '';">
                  Frankreich
              </span></b><br>
            </p>
            <div style="height:5em; display:block;">
                <p style="text-align:right;">
                    <span id="visCountry1Infos" style="font-size:small;"></span>
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <div style="padding:5px; background-color: white">
                <svg id="visCountry1" style="width:100%; height:80px; margin:auto; display:block;"></svg>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <select class="form-control" id="comparisonCountry1" onchange="changeCountry(1);">
                    <option value="France" selected="selected">Frankreich</option>
                    <option value="UK">Großbritannien</option>
                    <option value="Italy">Italien</option>
                    <option value="USA">USA</option>
                    <option value="Canada">Kanada</option>
                    <option value="Japan">Japan</option>
                    <option value="Australia">Australien</option>
                    <option value="Netherlands">Niederlande</option>
                    <option value="Ireland">Irland</option>
                    <option value="Austria">Österreich</option>
                    <option value="Norway">Norwegen</option>
                    <option value="Finland">Finnland</option>
                    <option value="Belgium">Belgien</option>
                    <option value="Luxembourg">Luxemburg</option>
                    <option value="South Korea">Südkorea</option>
                    <option value="Slovenia">Slowenien</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Greece">Griechenland</option>
                    <option value="Estonia">Estland</option>
                    <option value="Czech Republic">Tschechien</option>
                    <option value="Slovakia">Slowakei</option>
                    <option value="Lithuania">Litauen</option>
                    <option value="Latvia">Lettland</option>
                    <option value="Poland">Polen</option>
                    <option value="Hungary">Ungarn</option>
                    <option value="Croatia">Kroatien</option>
                    <option value="Iceland">Island</option>
                    <option value="Russia">Russland</option>
                    <option value="Denmark">Dänemark</option>
                    <option value="China">China</option>
                    <option value="India">Indien</option>
                    <option value="New Zealand">Neuseeland</option>
                    <option value="Israel">Israel</option>
                    <option value="Mexico">Mexiko</option>
                    <option value="Chile">Chile</option>
                    <option value="South Africa">Südafrika</option>
                    <option value="Spain">Spanien</option>
                    <option value="Sweden">Schweden</option>
                    <option value="Switzerland">Schweiz</option>
                    <option value="Turkey">Türkei</option>
                </select>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p style="height:6px;">
            <hr style="height:1px; border:none; background-color:grey;">
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p style="text-align:right; cursor:pointer;" onclick="sortCountryVisByCountry('country2');">
                <b><span id="country2" onmouseover="style.color='red';" onmouseout="style.color = '';">Großbritannien</span></b><br>
            </p>
            <div style="height:5em; display:block;">
                <p style="text-align:right;">
                    <span id="visCountry2Infos" style="font-size:small;"></span>
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <div style="padding:5px; background-color: white">
                <svg id="visCountry2" style="width:100%; height:80px; margin:auto; display:block;"></svg>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <select class="form-control" id="comparisonCountry2" onchange="changeCountry(2);">
                    <option value="France">Frankreich</option>
                    <option value="UK" selected="selected">Großbritannien</option>
                    <option value="Italy">Italien</option>
                    <option value="USA">USA</option>
                    <option value="Canada">Kanada</option>
                    <option value="Japan">Japan</option>
                    <option value="Australia">Australien</option>
                    <option value="Netherlands">Niederlande</option>
                    <option value="Ireland">Irland</option>
                    <option value="Austria">Österreich</option>
                    <option value="Norway">Norwegen</option>
                    <option value="Finland">Finnland</option>
                    <option value="Belgium">Belgien</option>
                    <option value="Luxembourg">Luxemburg</option>
                    <option value="South Korea">Südkorea</option>
                    <option value="Slovenia">Slowenien</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Greece">Griechenland</option>
                    <option value="Estonia">Estland</option>
                    <option value="Czech Republic">Tschechien</option>
                    <option value="Slovakia">Slowakei</option>
                    <option value="Lithuania">Litauen</option>
                    <option value="Latvia">Lettland</option>
                    <option value="Poland">Polen</option>
                    <option value="Hungary">Ungarn</option>
                    <option value="Croatia">Kroatien</option>
                    <option value="Iceland">Island</option>
                    <option value="Russia">Russland</option>
                    <option value="Denmark">Dänemark</option>
                    <option value="China">China</option>
                    <option value="India">Indien</option>
                    <option value="New Zealand">Neuseeland</option>
                    <option value="Israel">Israel</option>
                    <option value="Mexico">Mexiko</option>
                    <option value="Chile">Chile</option>
                    <option value="South Africa">Südafrika</option>
                    <option value="Spain">Spanien</option>
                    <option value="Sweden">Schweden</option>
                    <option value="Switzerland">Schweiz</option>
                    <option value="Turkey">Türkei</option>
                </select>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <p style="padding-top:30px;">
                    Diese Visualisierung ermöglicht Deutschlands
                    Nachhaltigkeit mit anderen Ländern zu vergleichen,
                    soweit Daten für Länder und Indikatoren verfügbar
                    sind.
                </p>
            </div>
        </div>
    </div>
</div>