<div class="jumbotron">
	<div ng-app="CountryComparisonApp" ng-controller="CompareCountryCtrl">


		<a class="anchor" name="Laendervergleich"></a>

		<div class="row">
			<div class="col-md-12 col-md-offset-0">
				<p style="padding-top:30px;">
					Diese Visualisierung ermöglicht Deutschlands Nachhaltigkeit mit anderen Ländern zu vergleichen,
					soweit
					Daten für
					Länder und Indikatoren verfügbar sind.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div>
					Länder sortieren nach:
					<select ng-model="selctedfilter" ng-change="changeFilter()">
						<option ng-repeat="f in filter"
								ng-selected="f == selectedfilter"
								value="[[f]]">[[f]]
						</option>
					</select>
				</div>
				<compare-viz countries="countries" binding="country1"></compare-viz>
				<compare-viz countries="countries" binding="country2"></compare-viz>
				<compare-viz countries="countries" binding="country3"></compare-viz>
			</div>
		</div>

		<script type="text/ng-template" id="compare_viz.html">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<div>
							<select ng-model="binding.name" ng-change="change()">
								<option ng-repeat="c in countries"
										ng-selected="c.name == binding.name"
										value="[[c.name]]">[[c.name]]
								</option>
							</select>
						</div>
					</div>
					<div class="col-md-8">
						Selected: [[binding.name]]
					</div>
				</div>
			</div>
		</script>

	</div>
</div>
