<div class="jumbotron">
	<div ng-app="CountryComparisonApp" ng-controller="CompareCountryCtrl">


		<a class="anchor" name="Laendervergleich"></a>

		<div class="row">
			<div class="col-md-12 col-md-offset-0">
				<p style="padding-top:30px;">
					Diese Visualisierung ermöglicht Deutschlands Nachhaltigkeit mit anderen Ländern zu vergleichen,
					soweit
					Daten für
					Länder und Indikatoren verfügbar sind.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div>
				</div>
				<br/>
				<br/>
				<br/>
				<compare countries="countries" binding="country1" indicator="indicator"></compare>
				<compare countries="countries" binding="country2" indicator="indicator"></compare>
				<compare countries="countries" binding="country3" indicator="indicator"></compare>
			</div>
		</div>

		<script type="text/ng-template" id="compare.html">
			<div class="row">
				<div class="col-md-12">
					<div style="text-align: left">
						<select ng-model="binding.name" ng-change="change()">
							<option ng-repeat="c in countries"
									ng-selected="c.name == binding.name"
									value="[[c.name]]">[[c.name]]
							</option>
						</select>
					</div>
					<div>
						<compare-viz name="binding.name" indicator="indicator">
						</compare-viz>
					</div>
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="compare_viz.html">
		</script>

	</div>
</div>
