<div class="jumbotron">
	<div ng-app="SingleIndicatorVizApp" ng-controller="SingleIndicatorCtrl">
        <div class="row">
            <div>
                <a class="anchor" name="Einzelindikatoren"></a>

                <div class="row">
                    <div class="col-md-9" style="padding-right: 30px;">
                        <div style="background-color: #f5f5f5;">
                            <div style="display: table; width: 100%;  padding-top: 6px; padding-bottom: 12px;">
                                <div style="display: table-cell;">&nbsp;Indikator auswählen:&nbsp;&nbsp;</div>
                                <select ng-model="selIndi.name" ng-init="selIndi.name = indicators[0].name; change();" ng-change="change()" style="display: table-cell; width: 97%;">
                                    <option ng-repeat="i in indicators" value="[[i.name]]">[[i.name]]</option>
                                </select>
                            </div>
                            <p style="margin-top: 0px; background-color: #f5f5f5; padding: 5px;"><span style="font-weight: bold;" ng-bind="indicator.title"></span>: <span ng-bind="indicator.short_indicator_description.de"></span></p>
                        </div>
                        
                        <div id="highchartsPane" style="margin-bottom:30px; margin-top:30px; width:100%; height:550px;"></div>
                        
                        <p ng-bind="indicator.long_indicator_description.de.text"></p>
                    </div>
                    
                    
                    <div class="col-md-3">
                        <h3 style="text-align: left;">Datenpate</h3>
						<div ng-if="!indicator.sponsor" style="position: relative; height: 250px; width: 250px; background: #003a55; border-radius: 20px;"><div style="font-size: 2em; position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 70%; height: 60%; margin: auto; color: white; text-align: center;">Werde Datenpate für diesen Indikator</div></div>
						
                        <a ng-if="indicator.sponsor" href="[[indicator.sponsor.url]]"><img style="height: 250px; " src="[[indicator.sponsor.logo]]" /></a>
                        
                        <br>
                        [[indicator.sponsor.descriptions.de]]
						<span ng-if="!indicator.sponsor">
							Ziel von 2030 Watch ist es, für jeden Indikator einen Datenpaten zu haben. Datenpaten sind Fachorganisationen, die einen Indikator "adoptieren", den sie für ein Unterziel für sinnvoll halten. Sie legen den Zielwert fest, der bis 2030 erreicht werden sollte, und die Bewertungsmethode für die 5 Bewertungsstufen. Darüber hinaus unterstützen sie das Projekt in der Datenbereitstellung. Mehr Informationen dazu finden sich <a target="_self" href="../../methodik/">hier</a>. Bei Interesse, Datenpate zu werden, wenden Sie sich bitte an <a href="mailto: 2030-watch@okfn.de">2030-watch@okfn.de</a>.
						</span>
                        <div ng-if="indicator.sponsor" style="margin-top: 5px;">
							<br>
                            <a style="font-weight: bold;" ng-show="!contactshow" ng-model="contactshow" ng-click="contactshow = !contactshow">Kontaktdaten anzeigen...</a>
							<span ng-show="contactshow">
								[[indicator.sponsor.contacts[0].name]] (<a href="mailto:[[indicator.sponsor.contacts[0].email]]">[[indicator.sponsor.contacts[0].email]]</a>)
							<br>[[indicator.sponsor.name]],
							<br>[[indicator.sponsor.address.city]],
							<br>[[indicator.sponsor.address.country]]
							</span>
							<br>
							<br>
							<span ng-show="contactshow">
								<a style="font-weight: bold;" ng-model="contactshow" ng-click="contactshow = !contactshow">Kontaktdaten ausblenden</a>
								<br>
							</span>
					    </div>
                        <h3 style="text-align: left;">Details</h3>
                        <table class="table">
                            <tr>
                               <td class="col-md-2">SDG:</td>
                               <td class="col-md-3">
								  <img alt="[[indicator.sdg]]" style="vertical-align: bottom; height: 40px;" src="/static/img/icons/[[indicator.sdg]].png" />
								  &nbsp;
								  <span ng-if="indicator.target.target && indicator.target.target != indicator.sdg">
									([[indicator.target.target]])
								  </span>
							   </td>
                            </tr>
                            <tr>
                                 <td class="col-md-2">Indikatorquelle:</td>
                                 <td class="col-md-3">[[indicator.source.value]]</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">Datenquelle:</td>
                                <td class="col-md-3">
                                    <a ng-href="[[indicator.source.link]]">[[indicator.source.publisher]]</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2">Bewertungsstufen ([[indicator.long_indicator_description.de.baseunit]]):</td>
                                <td class="col-md-3">
                                    <span ng-repeat="r in indicator.target.rating">
                                        <span>[[r]]</span>
                                        <span ng-if="!$last">, </span>
                                    </span>
                            </tr>                                         
                            <tr>
                                <td class="col-md-2">Optimalwert:</td>
                                <td class="col-md-3">[[indicator.target.value]][[indicator.baseunit]]</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">Daten von:</td>
                                <td class="col-md-3">[[indicator.scoring.timestamp_data_host]]</td>
                            </tr>
                        </table>
                        
                        <h3 style="text-align: left;">Datendownload</h3>
                        <div><a target="_self" href="/datastatic/datasets/online/[[indicator.filename]].csv">CSV</a> | <a target="_self" href="/datastatic/datasets/online/[[indicator.filename]].ods">ODS</a> | <a target="_self" href="/datastatic/datasets/online/[[indicator.filename]].xlsx">XLSX</a> | <a href="https://raw.githubusercontent.com/okfde/2030-watch.de/gh-pages/_data/datasets/online/[[indicator.filename]].json">JSON</a></div>
                        
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
