<div class="jumbotron">
  <a class="anchor" name="Einzelindikatoren"></a>

  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align:center;">Einzelindikatoren</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        Hier wird ein genauer Ländervergleich für einzelne Zielindikatoren abgebildet. Die Werte sind in verschiedenen Einheiten und absoluten Zahlen dargestellt.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-4">

      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownIndicator" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Indikator
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownIndicator">
          <li> <a id="indicatorSelector1" href="#Einzelindikatoren" onclick="barChart(0); return true;"></a></li>
          <li> <a id="indicatorSelector2" href="#Einzelindikatoren" onclick="barChart(1); return true;"></a></li>
          <li> <a id="indicatorSelector3" href="#Einzelindikatoren" onclick="barChart(2); return true;"></a></li>
          <li> <a id="indicatorSelector4" href="#Einzelindikatoren" onclick="barChart(3); return true;"></a></li>
          <li> <a id="indicatorSelector5" href="#Einzelindikatoren" onclick="barChart(4); return true;"></a></li>
          <li> <a id="indicatorSelector6" href="#Einzelindikatoren" onclick="barChart(5); return true;"></a></li>
          <li> <a id="indicatorSelector7" href="#Einzelindikatoren" onclick="barChart(6); return true;"></a></li>
          <li> <a id="indicatorSelector8" href="#Einzelindikatoren" onclick="barChart(7); return true;"></a></li>
          <li> <a id="indicatorSelector9" href="#Einzelindikatoren" onclick="barChart(8); return true;"></a></li>
          <li> <a id="indicatorSelector10" href="#Einzelindikatoren" onclick="barChart(9); return true;"></a></li>
          <li> <a id="indicatorSelector11" href="#Einzelindikatoren" onclick="barChart(10); return true;"></a></li>
          <li> <a id="indicatorSelector12" href="#Einzelindikatoren" onclick="barChart(11); return true;"></a></li>
          <li> <a id="indicatorSelector13" href="#Einzelindikatoren" onclick="barChart(12); return true;"></a></li>
          <li> <a id="indicatorSelector14" href="#Einzelindikatoren" onclick="barChart(13); return true;"></a></li>
          <li> <a id="indicatorSelector15" href="#Einzelindikatoren" onclick="barChart(14); return true;"></a></li>
          <li> <a id="indicatorSelector16" href="#Einzelindikatoren" onclick="barChart(15); return true;"></a></li>
          <li> <a id="indicatorSelector17" href="#Einzelindikatoren" onclick="barChart(16); return true;"></a></li>
          <li> <a id="indicatorSelector18" href="#Einzelindikatoren" onclick="barChart(17); return true;"></a></li>
          <li> <a id="indicatorSelector19" href="#Einzelindikatoren" onclick="barChart(18); return true;"></a></li>
          <li> <a id="indicatorSelector20" href="#Einzelindikatoren" onclick="barChart(19); return true;"></a></li>
          <li> <a id="indicatorSelector21" href="#Einzelindikatoren" onclick="barChart(20); return true;"></a></li>
          <li> <a id="indicatorSelector22" href="#Einzelindikatoren" onclick="barChart(21); return true;"></a></li>
          <li> <a id="indicatorSelector23" href="#Einzelindikatoren" onclick="barChart(22); return true;"></a></li>
          <li> <a id="indicatorSelector24" href="#Einzelindikatoren" onclick="barChart(23); return true;"></a></li>
          <li> <a id="indicatorSelector25" href="#Einzelindikatoren" onclick="barChart(24); return true;"></a></li>
          <li> <a id="indicatorSelector26" href="#Einzelindikatoren" onclick="barChart(25); return true;"></a></li>
          <li> <a id="indicatorSelector27" href="#Einzelindikatoren" onclick="barChart(26); return true;"></a></li>
          <li> <a id="indicatorSelector28" href="#Einzelindikatoren" onclick="barChart(27); return true;"></a></li>
          <li> <a id="indicatorSelector29" href="#Einzelindikatoren" onclick="barChart(28); return true;"></a></li>
          <li> <a id="indicatorSelector30" href="#Einzelindikatoren" onclick="barChart(29); return true;"></a></li>
          <li> <a id="indicatorSelector31" href="#Einzelindikatoren" onclick="barChart(30); return true;"></a></li>
          <li> <a id="indicatorSelector32" href="#Einzelindikatoren" onclick="barChart(31); return true;"></a></li>
          <li> <a id="indicatorSelector33" href="#Einzelindikatoren" onclick="barChart(32); return true;"></a></li>
          <li> <a id="indicatorSelector34" href="#Einzelindikatoren" onclick="barChart(33); return true;"></a></li>
          <li> <a id="indicatorSelector35" href="#Einzelindikatoren" onclick="barChart(34); return true;"></a></li>
          <li> <a id="indicatorSelector36" href="#Einzelindikatoren" onclick="barChart(35); return true;"></a></li>
          <li> <a id="indicatorSelector37" href="#Einzelindikatoren" onclick="barChart(36); return true;"></a></li>
          <li> <a id="indicatorSelector38" href="#Einzelindikatoren" onclick="barChart(37); return true;"></a></li>
          <li> <a id="indicatorSelector39" href="#Einzelindikatoren" onclick="barChart(38); return true;"></a></li>
          <li> <a id="indicatorSelector40" href="#Einzelindikatoren" onclick="barChart(39); return true;"></a></li>
          <li> <a id="indicatorSelector41" href="#Einzelindikatoren" onclick="barChart(40); return true;"></a></li>
          <li> <a id="indicatorSelector42" href="#Einzelindikatoren" onclick="barChart(41); return true;"></a></li>
          <li> <a id="indicatorSelector43" href="#Einzelindikatoren" onclick="barChart(42); return true;"></a></li>
          <li> <a id="indicatorSelector44" href="#Einzelindikatoren" onclick="barChart(43); return true;"></a></li>
          <li> <a id="indicatorSelector45" href="#Einzelindikatoren" onclick="barChart(44); return true;"></a></li>
          <li> <a id="indicatorSelector46" href="#Einzelindikatoren" onclick="barChart(45); return true;"></a></li>
          <li> <a id="indicatorSelector47" href="#Einzelindikatoren" onclick="barChart(46); return true;"></a></li>
          <li> <a id="indicatorSelector48" href="#Einzelindikatoren" onclick="barChart(47); return true;"></a></li>
          <li> <a id="indicatorSelector49" href="#Einzelindikatoren" onclick="barChart(48); return true;"></a></li>
          <li> <a id="indicatorSelector50" href="#Einzelindikatoren" onclick="barChart(49); return true;"></a></li>
          <li> <a id="indicatorSelector51" href="#Einzelindikatoren" onclick="barChart(50); return true;"></a></li>
          <li> <a id="indicatorSelector52" href="#Einzelindikatoren" onclick="barChart(51); return true;"></a></li>
          <li> <a id="indicatorSelector53" href="#Einzelindikatoren" onclick="barChart(52); return true;"></a></li>
          <li> <a id="indicatorSelector54" href="#Einzelindikatoren" onclick="barChart(53); return true;"></a></li>
          <li> <a id="indicatorSelector55" href="#Einzelindikatoren" onclick="barChart(54); return true;"></a></li>
          <li> <a id="indicatorSelector56" href="#Einzelindikatoren" onclick="barChart(55); return true;"></a></li>
          <li> <a id="indicatorSelector57" href="#Einzelindikatoren" onclick="barChart(56); return true;"></a></li>
          <li> <a id="indicatorSelector58" href="#Einzelindikatoren" onclick="barChart(57); return true;"></a></li>
          <li> <a id="indicatorSelector59" href="#Einzelindikatoren" onclick="barChart(58); return true;"></a></li>
          <li> <a id="indicatorSelector60" href="#Einzelindikatoren" onclick="barChart(59); return true;"></a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-2">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuSortOrder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Sortierung
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownSortOrder">
          <li> <a href="#Einzelindikatoren" onclick="barChart(undefined, 'down');">Werte abwärts</a></li>
          <li> <a href="#Einzelindikatoren" onclick="barChart(undefined, 'up');">Werte aufwärts</a></li>
          <li> <a href="#Einzelindikatoren" onclick="barChart(undefined, 'standard');">nach Ländern</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="highchartsPane" style="margin-bottom:30px; margin-top:30px; width:100%; height:400px;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="longDescription">
      </div>
    </div>
  </div>

  <div class="row" style="padding:20px;">
    <div class="panel panel-default indicator-details">
      <div class="panel-heading panel-heading-custom" role="tab" id="indicatorDetailPanel">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#indicatorDetails" aria-expanded="false" aria-controls="indicatorDetails">
            Indikatorendetails...
          </a>
        </h4>
      </div>
      <div id="indicatorDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="indicatorDetailPanel">
        <div class="panel-body">
          Quelle: <span id="indicatorDetailSource"></span><br>
          Verantwortlichkeit: <span id="indicatorDetailResponsibility"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="supplementaryRow" style="padding:20px; display:none;">
    <div class="panel panel-default supplementary-details">
      <div class="panel-heading panel-heading-custom" role="tab" id="supplementaryDetailPanel">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#supplementaryDetails" aria-expanded="false" aria-controls="supplementaryDetails">
            Zusatzvisualisierung
          </a>
        </h4>
      </div>
      <div id="supplementaryDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="supplementaryDetailPanel">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-12">
              <div id="supplementaryPane" style="margin:30px; width:600px; height:400px;">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
