<a class="anchor" name="Hauptgrafik"></a>

<div class="">
  <div class="row">
    <div>
      <h2 class="text-center">Deutschlands Umsetzung der Ziele für nachhaltige Entwicklung</h2>
      <div class="col-md-5">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#sdgFilter" onclick="unfilter();" aria-controls="sdgFilter" role="tab" data-toggle="tab">SDGs</a>
          </li>
          <li role="presentation">
            <a href="#respFilter" onclick="unfilter();" aria-controls="respFilter" role="tab" data-toggle="tab">Verantwortung</a>
          </li>
          <li role="presentation">
            <a href="#statusFilter" onclick="unfilter();" aria-controls="statusFilter" role="tab" data-toggle="tab">Typ</a>
          </li>
        </ul>
        <div class="tab-content vis-germany-tab-content">
          <div role="tabpanel" class="tab-pane active">
            {% for sdg in site.data.sdgs %}
              <img class="sdgIcon" id="sdg{{sdg.id}}" src="{{sdg.src}}" title="{{sdg.description}}" data-toggle="tooltip" data-placement="bottom" data-html="true" data-delay='{"show":"600", "hide":"0"}' />
            {% endfor %}
          </div>
          <div role="tabpanel" class="tab-pane fade" id="respFilter">
            <ul class="threecolumns">
              {% for resp in site.data.sdg_responsobility %}
                <li>
                  <span class="responsibility" id="responsibility{{resp.id}}" title="{{resp.title}}" data-toggle="tooltip" data-placement="right" data-html="true" data-delay='{"show":"600", "hide":"0"}'>{{resp.short}}</span></li>
              {% endfor %}
            </ul>
            <div>
              <span>
                Die Umsetzung aller SDGs liegt in der Verantwortung der gesamten Bundesregierung. Nichtsdestoweniger
                liegen einzelne Indikatoren in der besonderen Verantwortung einzelner Ministerien. Hier können die
                Indikatoren nach dieser besonderen Verantwortung gefiltert werden.
              </span>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="statusFilter">
            <ul>
              <li> <span class="status" id="status1" title="offizielle Indikatoren" data-toggle="tooltip" data-placement="right" data-html="true" data-delay='{"show":"600", "hide":"0"}'>offizielle Indikatoren</span></li>
              <li> <span class="status" id="status2" title="inoffizielle Indikatoren" data-toggle="tooltip" data-placement="right" data-html="true" data-delay='{"show":"600", "hide":"0"}'>inoffizielle Indikatoren</span></li>
            </ul>
            <div>
              <span>
                2030-Watch enthält offizielle Indikatoren und inoffizielle Indikatoren. Die offiziellen Indikatoren
                umfassen Vorschläge der UN Expertengruppe für Indikatorvorschläge, des Sustainable Development Solutions
                Networks und der bestehenden deutschen Nachhaltigkeitsstrategie. Die inoffiziellen Indikatoren stellen
                Indikatorvorschlag der Open Knowledge Foundation dar. Diese Vorschläge sind zum Teil in Abstimmung mit
                zivilgesellschaftlichen Experten entwickelt worden.
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7 col-md-offset-0">
        <div class="row">
          <div class="col-md-11">
            <div style="padding:30px;">
              <svg id="visPane" style="width:100%; height:250px; margin:auto; display:block;"></svg>
            </div>
          </div>

          <div class="col-md-12">
            <p id="visPaneInfos" style="font-size:small; width:100%; height:30px; margin:auto;display:block;" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="vis-germany-legend text-center">
        <div class="vis-germany-legend-block vis-germany-legend-val-1" ></div>
        <p>sehr hohe Nachhaltigkeit</p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="vis-germany-legend text-center">
        <div class="vis-germany-legend-block vis-germany-legend-val-2" ></div>
        <p>sehr hohe Nachhaltigkeit</p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="vis-germany-legend text-center">
        <div class="vis-germany-legend-block vis-germany-legend-val-3" ></div>
        <p>sehr hohe Nachhaltigkeit</p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="vis-germany-legend text-center">
        <div class="vis-germany-legend-block vis-germany-legend-val-4" ></div>
        <p>sehr hohe Nachhaltigkeit</p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="vis-germany-legend text-center">
        <div class="vis-germany-legend-block vis-germany-legend-val-5" ></div>
        <p>sehr hohe Nachhaltigkeit</p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="vis-germany-legend text-center">
        <div class="vis-germany-legend-block vis-germany-legend-val-no-value" ></div>
        <p>sehr hohe Nachhaltigkeit</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        In dieser Visualisierung repräsentiert jeder Punkt einen Indikator für das Erreichen der Entwicklungsziele durch
        Deutschland. Die Farben zeigen dabei an wie nachhaltig Deutschland aktuell im jeweiligen Indikator ist. Klicke
        auf eines der 17 Ziele und sieh alle Indikatoren zum ausgewählten Ziel. Unter Verantwortung siehst Du welches
        Ministerium für das Erreichen eines Zielindikators zuständig ist. Unter der Kategorie Typ kannst Du offizielle
        Indikatoren von unseren Vorschlägen unterscheiden - Probier’s mal aus!
      </p>
    </div>
  </div>
</div>
